.wrapper {
  position: relative;
  width: 300px;
  height: 300px;
}
.wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
.triangle {
  width: 0;
  height: 0;
  position: absolute;
  z-index: 2;
  border-color: transparent;
  border-style: solid;
  border-width: 0;
  transform: scale(1.001);
}

.top .triangle {
  top: -1px;
}
.bottom .triangle {
  bottom: -1px;
}
.left.triangle {
  left: -1px;
  border-left-color: white;
}
.right.triangle {
  right: -1px;
  border-right-color: white;
}
